#joinFamilly {
    .content {
        position: absolute;
        bottom: 46px;
        left: 0;
        right: 0;
        top: 58px;
        overflow: auto;

        text-align: center;

        
    }
}