#confirm {    
    .content {
        position: absolute;
        bottom: 46px;
        left: 0;
        right: 0;
        top: 58px;
        overflow: auto;
        max-width: 600px;
        margin:0 auto;


        .confirmDone {
            font-size: 0.9em;
            padding: 5px 10px;
        }
        h2{
            font-size: 1.1em;
            padding: 5px 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        }
        .childContent {
            padding:0 0 0 2em;
            h3 {    
                font-size: 1em;
                padding: 10px 1px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                margin-bottom: 0;
            }
            .dayContent {
                //border-top: 1px solid rgba(0, 0, 0, 0.3);
                //border-left: 1px solid rgba(0, 0, 0, 0.3);

                h4 {
                    font-size: 0.8em;
                    margin: 10px 0 0 0;
                }
                ul {
                    li.task {
                        display: inline-block;
                        border:none;
                        font-size: 0.8em;
                        padding:0 15px 0 0;

                        i {
                            display: none;
                        }
                    }
                }
            }
        }
        .daySummary {
            position: relative;
            h3 {

            }
            button {
                position: absolute;
                top:7px;
                right:1em;
            }
        }
        .confirmDone {
            text-align: center;
        }
    }
}