#profil {
    text-align: center;

    .myProfil {
        margin-top:40px;
    }
    .famillies {
        margin-top:40px;
        .familly {
            margin:0 2em;
        }
    }

    .profilPict {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        border: 1px solid rgba(0, 0, 0, 0.288);
        border-radius: 100%;
    }
    h3 {
        a {
            display: block;
        }
    }
    h4 {
        clear: both;
    }
    .usersTiles {
        display: flex;
        justify-content: center;
        .userTile {
            flex-grow: 1;
            flex-basis: 0;
            max-width: 33%;
            text-align: center;
            .name {
                // text-align: center;
            }
        }
    }
}